{% extends 'base.html.twig' %}

{% block title %}Création d'un évenement{% endblock %}
{% block body %}

<div class="container">
    <h1>Créer un nouvel évenement</h1>


    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Créer le nouvel évenement</button>

    {{ form_end(form) }}
</div>

{% endblock %}