<footer>
    <div class="container">
        <div id="footer">
            <div id="copyright">
                <p><a class="c" href="#">©</a> antoinedelbrel</p>
            </div>
            <div id="reseau">
                <h3>Follow me</h3>
                <div class="reseaux rounded-social-buttons">
                    <a class="network social-button facebook" href="https://www.facebook.com/antoine.delbrel" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="network social-button twitter" href="https://twitter.com/AntoineDelbrel" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="network social-button linkedin" href="https://www.linkedin.com/in/antoine-delbrel-48621b181/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="network social-button github" href="https://github.com/antoinedelbrel/leakid" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>