{% extends 'base.html.twig' %}

{% block title %}Ajout d'un invité{% endblock %}
{% block body %}

<div class="container mt-4">
    <h1>Ajoutez un invité</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <ul class="event">
        {% for event in form.events %}
        <li>{{ form_row(event.name) }}</li>
        {% endfor %}
    </ul>

    <button type="submit" class="btn btn-primary">Ajoutez le nouvel invité</button>

    {{ form_end(form) }}
</div>

{% endblock %}