{% extends 'base.html.twig' %}

{% block title %}Ajout d'un achat{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Ajoutez un achat</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Ajoutez l'achat</button>

    {{ form_end(form) }}
</div>

{% endblock %}